.leaflet-container {
  height: 300px;
  width: 600px;
}

.maplabel {
  color: red;
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
}

.profile-forest {
  z-index: 0;
  width: 100%;
}

.profile-image {
  width: 150px;
  height: 150px;
  position: relative;
  float: left;
  background-color: white;
  margin: -70px 20px 0px 30px;
  z-index: 1;
  padding: 5px;
}

.user-list-avatar {
  width: 80px;
  height: 80px;
  margin-right: 1.5em;
}
