/* settings for demo map component */
.leaflet-container {
  height: 400px;
  width: 100%;
}
.event-map-box-tooltip {
  background-color: white;
  border: none;
  box-shadow: none;
  color: blue;
  padding: 5px;
  text-align: center;
}
.event-map-flag-tooltip {
  text-align: center;
}

/* settings for EventCourseMap */
.course-map-container {
  height: 600px;
  width: 100%;
  overflow: hidden;
}
.event-course-map-canvas {
  margin-top: 5px;
  overflow: hidden;
  height: 555px;
}
.event-course-map-toolbar {
  margin-top: 5px;
  margin-bottom: 5px;
}


.event-runners-item .label {
  margin-right: 0.3em !important;
}

.event-runners-current {
  box-shadow: 0 0 0 1px #2185d0, 3px 3px 4px 0 #2185d0 !important;
}

.event-link-current {
  box-shadow: 0 0 0 1px #2185d0, 3px 3px 4px 0 #2185d0 !important;
}

.event-details .label {
  margin-right: 0.3em !important;
}

.footer {
  text-align: right;
  font-style: italic;
}

.course-title {
  font-weight: bold;
}

/* float right (initially intended for labels) */
.floatedright {
  float: right;
}

/* level position of current user with avatar in Header component */
.header-current-user {
  padding-bottom: 0.3em !important;
}

/* control appearance of images in UserDetails component */
.profile-forest {
  z-index: 0;
  width: 100%;
}
.profile-image {
  width: 150px;
  height: 150px;
  position: relative;
  float: left;
  background-color: white;
  margin: -70px 20px 0px 30px;
  z-index: 1;
  padding: 5px;
}

/* control appearance of avatars in UserList component */
.user-list-avatar {
  width: 80px;
  height: 80px;
  margin-right: 1.5em;
}

/* manage appearance of FileDropzone component */
.filedropzone {
  align-items: center;
  background-color: white;
  border: 0.15em dashed rgba(34,36,38,0.15);
  border-radius: 0.5em;
  box-shadow: 0 3px 6px 0 #ddd;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em;
  padding: 1.5em;
  text-align: center;
}
.filedropzone input {
  display: none;
}
.filedropzone img {
  max-height: 20em;
  max-width: 20em;
}
.highlighted {
  background-color: #ddd;
}

/* set margins to avoid clipping when inside a Collapse component */
.card-list {
  margin: 0 0.1em 0 0.1em !important;
}

/* define smooth collapse and expand effects */
.collapse .show {
  padding-left: 0.1em;
  padding-right: 0.1em;
  padding-bottom: 0.1em;
  overflow: hidden;
  transition: max-height 500ms cubic-bezier(.525,.66,.495,1.4);
}
.collapse .hide {
  padding-left: 0.1em;
  padding-right: 0.1em;
  padding-bottom: 0.1em;
  overflow: hidden;
  transition: max-height 500ms cubic-bezier(.525,.66,.495,1.4);
}

/* Remove outline for non-keyboard :focus */
*:focus:not(.focus-visible) {
  outline: none;
}

/* Optional: Customize .focus-visible */
.focus-visible {
  outline-color: lightgreen;
}
