/* Style definitions with !important override the Semantic UI defaults

Contents:
 - general styles for use in any component
 - styles for Header and Footer components
 - styles for generic components (Collapse, FileDropzone, Table)
 - styles for Club components
 - styles for Event components
 - styles for Home components
 - styles for User components
*/

/* General */
/* ------- */

/* apply fixed background image */
body {
  background-image: url('../graphics/blueForestBackground.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
/* Accessibility: Remove outline for non-keyboard :focus */
*:focus:not(.focus-visible) {
  outline: none;
}
/* Accessibility: Customize .focus-visible */
.focus-visible {
  outline-color: lightgreen;
}
/* scroll long lists within constrained height (e.g. ClubList, EventList, UserList) */
.card-list--limit-height {
  max-height: 50em;
  overflow-y: auto;
}
@media only screen and (max-width: 767px) {
  .card-list--limit-height {
    max-height: 30em;
    overflow-y: auto;
  }
}
/* highlight entries in card lists (e.g. ClubListItem, EventListItem, EventRunnersItem,
EventLinkedItem, UserListItem) */
.card-list--item-current-user { /* card represents currently logged in user */
  background-color: #e9f3fc !important;
}
.card-list--item-selected { /* card represents currently selected item */
  box-shadow: 0 0 0 1px #2185d0, 3px 3px 4px 0 #2185d0 !important;
}
/* float element right */
.floatedright {
  float: right;
}
/* reduce padding for section headers inside grids */
.section-header {
  padding-bottom: 0 !important;
}
/* simplify interface and */
/* float buttons right when columns are collapsed on small screens */
@media only screen and (max-width: 767px) {
  .hide-on-mobile {
    display: none !important;
  }
  .ui[class*="right floated"].button {
    float: none;
  }
}
/* provide space between tags when they overflow onto another line */
.tags-group {
  line-height: 250%;
}
/* provide consistent font in select dropdowns */
select, optgroup {
  font-family: Lato, "Helvetica Neue", Arial;
}

/* Header and Footer */
/* ----------------- */

/* settings to provide visual cues for List/Map view selection in main menu */
.header__menu--divider {
  align-self: center;
  margin: 5px 0 0 0;
  height: 20px;
  width: 2px;
  background-color: rgba(34, 36, 38, 0.15);
}
@media only screen and (max-width: 767px) {
  .header__menu--divider {
    height: 0; /* hide when stacked */
  }
}
.header__menu--parent {
  padding-right: 0.3rem !important;
}
.header__menu--child {
  padding-left: 0.3rem !important;
  padding-right: 0.3rem !important;
}
.header__menu--child-right {
  padding-left: 0.3rem !important;
}
/* level position of current user with avatar in Header component */
.header__menu--current-user {
  padding-bottom: 0.3em !important;
}
/* basic format for all Footer text */
.footer {
  text-align: right;
  font-style: italic;
  margin-bottom: 1rem;
}
/* full width image bar separator */
.footer img {
  width: 100%;
}

/* Generic components */
/* ------------------ */

/* Collapse: set margins to avoid clipping when inside a Collapse component */
.collapse .card-list {
  margin: 0 0.1em 0 0.1em !important;
}
/* settings for Collapse: define smooth collapse and expand effects */
.collapse__content {
  padding-left: 0.1em;
  padding-right: 0.1em;
  padding-bottom: 0.1em;
  overflow: hidden;
  transition: max-height 500ms cubic-bezier(.525,.66,.495,1.4);
}
/* manage appearance of FileDropzone component */
.filedropzone {
  align-items: center;
  background-color: white;
  border: 0.15em dashed rgba(34,36,38,0.15);
  border-radius: 0.5em;
  box-shadow: 0 3px 6px 0 #ddd;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em;
  padding: 1.5em;
  text-align: center;
}
.filedropzone input {
  display: none;
}
.filedropzone img {
  max-height: 20em;
  max-width: 20em;
}
.filedropzone--highlighted {
  background-color: #ddd;
}
.filedropzone__button-below {
  margin-top: 0.5em;
  text-align: center;
}
.filedropzone__button-below p {
  padding-top: 0.5em;
}
/* settings for Table */
/* enable scrolling if table is too wide for its container */
.table-component { /* 'table' on its own conflicts with Semantic UI*/
  overflow-x: auto;
  clear: both;
  margin-top: 1em;
}
/* settings for TablePagination */
/* override margin for control buttons */
.table__control {
  margin-left: 0.7em !important;
  margin-right: 0.7em !important;
}

/* Club components */
/* --------------- */

/* settings for ClubDetails component */
/* float summary details above background forest image */
.club-details__summary {
  position: absolute;
  top: 6em;
  left: 2.5em;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1em;
}
.club-details__background-image {
  z-index: 0;
  width: 100%;
  min-height: 180px;
}

/* Event components */
/* ---------------- */

/* settings for EventCommentsItem */
.event-comments-item__header {
  padding-top: 0.3em !important;
  padding-bottom: 0.5em !important;
}
.event-comments-item__author {
  color: #2185d0 !important;
}
.event-comments-item__fullname {
  font-size: 0.9em;
  font-weight: normal;
}
.event-comments-item__date {
  font-size: 0.9em;
  font-style: italic;
}
.event-comments-item__editor {
  padding-top: 1rem;
}
.event-comments-item__text {
  white-space: pre-line;
}
/* settings for EventDetails */
.event-details .label {
  margin-right: 0.3em !important;
}
.event-details .item:after {
  clear: left !important;
}
.event-details__edit-block {
  clear: both;
}
/* settings for EventEdit */
.event-edit__label {
  margin: 0 0 4px 0;
  font-weight: 700;
  font-size: 13px;
}
.event-edit__map-corner-image {
  width: 40%;
  display: block;
  margin: 1em auto 1em auto;
}
/* settings for EventHeader */
.event-header__tag-filter--empty {
  color: rgba(0, 0, 0, 0.3) !important;
}
.event-header__tag-filter--event {
  background-color: #6435c9 !important;
  color: white !important;
}
.event-header__tag-filter--personal {
  background-color: #a333c8 !important;
  color: white !important;
}
.event-header__tag-filter {
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 0.25rem;
}
.event-header__tag-filter optgroup {
  color: black;
  background-color: white;
}
.event-header__tag-filter div, select {
    height: 36px !important;
    border: none !important;
}
.event-header__tag-filter div {
  padding-left: 0.3rem !important;
}
/* settings for EventLinkedList */
/* constrain height if list is too long */
.event-linked-list {
  max-height: 15em;
  overflow-y: auto;
}
/* settings for EventListItem */
.event-list-item__with-map .event-list-item--text {
  background: white;
  color: #000;
  padding: 0.2em;
}
/* settings for EventEditLocationMap */
.event-edit-location-map {
  margin-top: 1em;
  margin-bottom: 1em;
  height: 200px !important; /* override leaflet-container default */
}
/* settings for EventLocationMap */
.event-location-map {
  margin-top: 1em;
  height: 200px !important; /* override leaflet-container default */
}
/* settings for EventMap (leaflet) */
.leaflet-container { /* essential for leaflet to render properly */
  height: 400px;
  width: 100%;
}
.event-map__popup {
  width: 350px;
  white-space: normal;
}
.event-map__tooltip ul {
  margin: 0;
  padding-left: 18px;
}
.event-map__tooltip p {
  text-align: center;
  font-size: 90%;
  font-style: italic;
}
/* settings for EventMapViewerCanvas */
.event-map-viewer__container {
  height: 600px;
  width: 100%;
  overflow: hidden;
}
.event-map-viewer__overlay-selector {
  font-size: 120%;
  margin: 0.5em;
}
.event-map-viewer__overlay-selector label {
  margin-left: 2em;
}
.event-map-viewer__overlay-selector p {
  margin-left: 2em;
}
.event-map-viewer__overlay-selector ul {
  margin: 0.2em;
  list-style: none;
}
.event-map-viewer__overlay-selector input {
  margin-right: 0.5em;
}
.event-map-viewer-canvas-render__loader {
  margin-top: 10px !important;
  height: 540px;
}
.event-map-viewer-canvas-render__canvas {
  position: relative;
  margin-top: 5px;
  overflow: hidden;
  height: 555px;
}
.event-map-viewer-canvas__toolbar {
  margin-top: 5px;
  margin-bottom: 5px;
}
.event-map-viewer-canvas-render__map-image { /* prevent unwanted scrolling */
  touch-action: none;
}
.event-map-viewer-canvas-render__overlay-1 {
  filter: drop-shadow(0 0 1px red);
}
.event-map-viewer-canvas-render__overlay-2 {
  filter: drop-shadow(0 0 1px blue);
}
.event-map-viewer-canvas-render__overlay-3 {
  filter: drop-shadow(0 0 1px #ff00ff); /* fuchsia */
}
.event-map-viewer-canvas-render__overlay-4 {
  filter: drop-shadow(0 0 1px #ffd700); /* dark yellow */
}
.event-map-viewer-canvas-render__overlay-5 {
  filter: drop-shadow(0 0 1px #00bbbb); /* light blue */
}
/* settings for EventMapViewerGeo */
.event-map-viewer-geo {
  padding: 10px;
}
.event-map-viewer-geo-right-panel {
  margin-top: 10px;
}
/* settings for EventMapViewerTracks */
.event-map-viewer-tracks {
  padding: 10px;
}
/* settings for EventRunnerDetails */
.event-runner-details--highlight {
  font-weight: bold;
}
/* settings for EventRunners */
.event-runners__class-title {
  color: #2185d0;
  margin-bottom: 0;
}
/* settings for EventRunnersItem */
.event-runners-item .label {
  margin-right: 0.3em !important;
}
.event-runners-item__deleted { /* only admin users should ever see this */
  color: red !important;
}
.event-runners-item--profile-image {
  height: 35px !important; /* set explicitly so Collapse gets height right on first render */
}
/* settings for EventThumbnails */
.event-thumbnails {
  background-color: transparent;
  border: none;
  float: right;
  margin-bottom: 1em;
}
.event-viewer-geo-map {
  margin-top: 10px;
  height: 590px !important;
}

/* Home components */
/* --------------- */

/* settings for HomeAdminPanel */
.home-admin-panel__divider {
  border-color: blue;
  margin-bottom: 1.5em;
}
/* settings for HomeAdminLogging */
.home-admin-logging p {
  margin: 0 2em 1em 0 !important;
}
/* settings for HomeRecent */
.home-recent ul {
  padding: 0 20px;
}
/* settings for HomeWelcome */
.home-welcome__header {
  font-size: 1.5em;
  font-weight: 700;
}

/* User components */
/* --------------- */

/* settings for UserDetails: control appearance of images */
.user-details__background-image {
  z-index: 0;
  width: 100%;
  min-height: 180px;
}
.user-details__profile-image {
  position: absolute;
  top: 6em;
  left: 2.5em;
  width: 150px;
  height: 150px;
  background-color: white;
  z-index: 1;
  padding: 5px;
}
.user-details__title {
  margin-top: 1em !important;
  margin-bottom: 0 !important;
}
.user-list-item--profile-image {
  height: 80px !important; /* set explicitly so Collapse gets height right on first render */
}

/* Variables and Mixins */
/* Generic L.Toolbar */
.leaflet-toolbar-0 {
  list-style: none;
  padding-left: 0;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.leaflet-toolbar-0 > li {
  position: relative;
}
.leaflet-toolbar-0 > li > .leaflet-toolbar-icon {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-right: 0;
  padding-right: 0;
  border-right: 0;
  text-align: center;
  text-decoration: none;
  background-color: #ffffff;
}
.leaflet-toolbar-0 > li > .leaflet-toolbar-icon:hover {
  background-color: #f4f4f4;
}
.leaflet-toolbar-0 .leaflet-toolbar-1 {
  display: none;
  list-style: none;
}
.leaflet-toolbar-tip-container {
  margin: 0 auto;
  margin-top: -16px;
  height: 16px;
  position: relative;
  overflow: hidden;
}
.leaflet-toolbar-tip {
  width: 16px;
  height: 16px;
  margin: -8px auto 0;
  background-color: #ffffff;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-clip: content-box;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
/* L.Toolbar.Control */
.leaflet-control-toolbar {
  /* Secondary Toolbar */
}
.leaflet-control-toolbar > li > .leaflet-toolbar-icon {
  border-bottom: 1px solid #ccc;
}
.leaflet-control-toolbar > li:first-child > .leaflet-toolbar-icon {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.leaflet-control-toolbar > li:last-child > .leaflet-toolbar-icon {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-width: 0;
}
.leaflet-control-toolbar .leaflet-toolbar-1 {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 30px;
  /* leaflet-draw-toolbar.left + leaflet-draw-toolbar.width */
  top: 0;
  white-space: nowrap;
  height: 30px;
}
.leaflet-control-toolbar .leaflet-toolbar-1 > li {
  display: inline-block;
}
.leaflet-control-toolbar .leaflet-toolbar-1 > li > .leaflet-toolbar-icon {
  display: block;
  background-color: #919187;
  border-left: 1px solid #aaa;
  color: #fff;
  font: 11px/19px "Helvetica Neue", Arial, Helvetica, sans-serif;
  line-height: 30px;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
}
.leaflet-control-toolbar .leaflet-toolbar-1 > li > .leaflet-toolbar-icon:hover {
  background-color: #a0a098;
}
.leaflet-control-toolbar .leaflet-toolbar-1 > li:last-child > .leaflet-toolbar-icon {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* L.Toolbar.Popup */
.leaflet-popup-toolbar {
  position: relative;
  box-sizing: content-box;
}
.leaflet-popup-toolbar > li {
  float: left;
}
.leaflet-popup-toolbar > li > .leaflet-toolbar-icon {
  border-right: 1px solid #ccc;
}
.leaflet-popup-toolbar > li:first-child > .leaflet-toolbar-icon {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.leaflet-popup-toolbar > li:last-child > .leaflet-toolbar-icon {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-width: 0;
  border-right: none;
}
.leaflet-popup-toolbar .leaflet-toolbar-1 {
  position: absolute;
  top: 30px;
  left: 0;
  padding-left: 0;
}
.leaflet-popup-toolbar .leaflet-toolbar-1 > li > .leaflet-toolbar-icon {
  position: relative;
  float: left;
  width: 30px;
  height: 30px;
}
.leaflet-container svg:not(.leaflet-zoom-animated) {
  width: inherit;
  height: inherit
}
